<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1000;">
    <div class="navbar-nav w-100 overflow-hidden" style="height: 215px;">
        <a asp-controller="Search" asp-action="Index" asp-route-categoryId="1" class="nav-item nav-link">Top 10 Offers</a>
        <a asp-controller="Search" asp-action="Index" asp-route-categoryId="2" class="nav-item nav-link">Electronics & Digital</a>
        <a asp-controller="Search" asp-action="Index" asp-route-categoryId="3" class="nav-item nav-link">Phones & Tablets</a>
        <a asp-controller="Search" asp-action="Index" asp-route-categoryId="4" class="nav-item nav-link">Televisions & Monitors</a>
        <a asp-controller="Search" asp-action="Index" asp-route-categoryId="5" class="nav-item nav-link">Jewelry & Watches</a>
    </div>
</nav>
